# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo

# Virtual environments (anywhere)
.venv/
venv/
**/.venv/
**/venv/

# Environment variables
.env
**/.env

node_modules/
**/node_modules/

.DS_Store
.vscode/
.idea/
